#updateAccount  {
    .body {
        #deleteForm {
            display: none;
        }
        #updateForm {
            display: none;
        }
        .details {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .detail {
                .label {
                    font-weight: 500;
                }
            }
            .details.deep {
                background-color: rgb(240, 240, 240);
                border-radius: 4px;
                padding: 12px;
                display: flex;
                flex-direction: column;
            }
        }
    }
    .footer {
        .details {
            justify-content: space-between;
            display: flex;
            gap: 8px;
            width: 100%;

            div {
                display: flex;
                gap: 8px;
            }
        }
        .editing {
            display: none;
            gap: 8px;
            width: 100%;
            flex-direction: row-reverse;

            div {
                display: flex;
                gap: 8px;
            }
        }
    }
    &.show-update-form {
        .body {
            #updateForm {
                display: block;
            }
            #deleteForm, .details {
                display: none;
            }
        }
        .footer {
            .editing {
                display: flex;
            }
            .details {
                display: none;
            }
        }
    }
    &.show-delete-form {
        .body {
            margin-bottom: 12px;
            
            #deleteForm {
                display: block;
            }
            #updateForm, .details {
                display: none;
            }
        }
        .footer {
            display: none;
        }
    }
}