{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/7954240b12.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'styles.css' %}?{% now "U" %}">
    <script src="{% static 'script.js' %}?{% now "U" %}"></script>

    <link rel="stylesheet" href="{% static 'modal/styles.css' %}?{% now "U" %}">
    <script src="{% static 'modal/scripts.js' %}?{% now "U" %}"></script>

    <link rel="stylesheet" href="{% static 'settings/accountType/styles.css' %}?{% now "U" %}">
    <script src="{% static 'settings/accountType/scripts.js' %}?{% now "U" %}"></script>
</head>
<body class="full-page">
    <div class="page-container">
        {% include "_partials/header.html" with page='settings' %}
        <div class="main-area">
            <div class="page-header">
                <h1>Account Types</h1>
                <button class='open-modal button primary' data-modal="createType">Create Type</button>
            </div>
            <div class="page-section">
                <div class="header">
                    <h2>All Account Types</h2>
                </div>
                {% if types %}
                    <table class="standard">
                        <thead>
                            <tr>
                                <th>Type Name</th>
                                <th>Accumulate</th>
                                <th>Created Date</th>
                                <th class="right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for type in types %}
                            <tr id="record_{{ type.id }}">
                                <td class="name" data-value="{{ type.name }}">{{ type.name }}</td>
                                <td class="accumulate" data-value="{{ type.accumulate }}">{{ type.accumulate }}</td>
                                <td>{{ type.created_at|date:"jS M Y" }}</td>
                                <td class="right">
                                    <button class="button delete delete-type" data-value="{{ type.id }}"><i class="fa-solid fa-trash"></i></button>
                                    <button class="button edit update-type" data-value="{{ type.id }}"><i class="fa-solid fa-pencil"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No Types availalbe</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% include "_partials/errors.html" %}
    {% if createFrom %}
    <div class="modal" id="createType">
        <form action="" method="post">
            <div class="form-header">Add Account Type</div>
            {% csrf_token %}
            {{ createFrom }}
            <input type="submit" name="createType">
        </form>
    </div>
    <div class="modal" id="updateType">
        <form action="" method="post">
            <div class="form-header">Update Account Type</div>
            {% csrf_token %}
            {{ createFrom }}
            <input type="hidden" name="typeId">
            <input type="submit" name="updateType">
        </form>
    </div>
    <form action="" method="post" id="deleteType">
        {% csrf_token %}
        <input type="hidden" name="deleteId">
    </form>
    {% endif %}
</body>
</html>