{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

        <link rel="stylesheet" href="{% static 'styles.css' %}?{% now "U" %}">
    <script src="{% static 'script.js' %}?{% now "U" %}"></script>

    <link rel="stylesheet" href="{% static 'modal/styles.css' %}?{% now "U" %}">
    <script src="{% static 'modal/scripts.js' %}?{% now "U" %}"></script>
</head>
<body>
    {% include "_partials/header.html" %}
    {% include "_partials/errors.html" %}

    {% if createFrom %}
        <form action="" method="post">
            {% csrf_token %}
            {{ createFrom }}
            <input type="submit" name="createType">
        </form>
    {% endif %}

    {% if types %}
        <table>
            <thead>
                <tr>
                    <th>Type Name</th>
                    <th>Accumulate</th>
                    <th>Created Date</th>
                </tr>
            </thead>
            <tbody>
            {% for type in types %}
                <tr>
                    <td>{{ type.name }}</td>
                    <td>{{ type.accumulate }}</td>
                    <td>{{ type.created_at }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Types availalbe</p>
    {% endif %}
</body>
</html>