#updateAccount  {
    .body {
        min-height: 230px;
        justify-content: center;
        align-content: center;

        #deleteForm {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 320px;
            align-self: center;
            gap: 12px;
            text-align: center;

            i {
                font-size: 5em;
                color: red;
            }

            .action {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 12px;
            }
        }
        #updateForm {
            display: none;
        }
        .label {
            font-weight: 500;
        }
        .details {
            display: flex;
            flex-direction: column;
            gap: 24px;
            min-width: 480px;
            align-self: center;

            .account-header {
                #accountNameLabel {
                    font-size: 1.8em;
                    font-weight: 600;
                }
            }
            .information {
                display: grid;
                grid-template-columns: 150px 1fr;
                gap: 6px;

                
            }
        }
    }
    .footer {
        .details {
            justify-content: space-between;
            display: flex;
            gap: 8px;
            width: 100%;

            div {
                display: flex;
                gap: 8px;
            }
        }
        .editing {
            display: none;
            gap: 8px;
            width: 100%;
            flex-direction: row-reverse;

            div {
                display: flex;
                gap: 8px;
            }
        }
    }
    &.show-update-form {
        .body {
            #updateForm {
                display: block;
            }
            #deleteForm, .details {
                display: none;
            }
        }
        .footer {
            .editing {
                display: flex;
            }
            .details {
                display: none;
            }
        }
    }
    &.show-delete-form {
        .body {
            margin-bottom: 12px;
            
            #deleteForm {
                display: flex;
            }
            #updateForm, .details {
                display: none;
            }
        }
        .footer {
            display: none;
        }
    }
}