.full-page .page-section {
    display: grid;
    gap: 20px;
    grid-template-columns: 350px 1fr;
    padding: 0;
    overflow: hidden;

    .info {
        color: #505053;
        display: flex;
        flex-direction: column;

        h2 {
            line-height: 33px;
            margin-bottom: 12px;
        }

        .account-details {
            padding: 12px 20px 20px 20px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.63)), url('/static/images/bunny-shape-purple.svg'), #fff;
            background-size: 350%;
            background-position: center;
            background-repeat: no-repeat;

            .cards .main {
                padding-bottom: 0;
            }
            .info-list {
                color: #3b3b3d;
                padding: 12px 8px;
                display: grid;
                grid-template-columns: 100px 1fr;
                gap: 4px;

                .title {
                    font-weight: 600;
                    color: #3b3b3d;
                }

                h3 {
                    color: #3b3b3d;
                    grid-column: 1 / span 2;
                    margin-top: 12px;
                    color: purple;
                    font-size: 1.1em;

                    &:first-child {
                        margin-top: 0;
                    }
                }
                .actions {
                    display: grid;
                    grid-column: 1 / span 2;
                    gap: 20px;
                    grid-template-columns: 1fr 1fr;
                    margin-top: 20px;
                }
            }
        }
        
    }
    .transactions {
        padding: 12px 12px 12px 0;
    }
}