{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/7954240b12.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'styles.css' %}?{% now "U" %}">
    <script src="{% static 'script.js' %}?{% now "U" %}"></script>
    
    <link rel="stylesheet" href="{% static 'modal/styles.css' %}?{% now "U" %}">
    <script src="{% static 'modal/scripts.js' %}?{% now "U" %}"></script>

    <link rel="stylesheet" href="{% static 'savings/styles.css' %}?{% now "U" %}">
    <script src="{% static 'savings/scripts.js' %}?{% now "U" %}"></script>
    {{ accounts|json_script:"accounts" }}

</head>
<body class="full-page">
    {% include "_partials/errors.html" %}
    <div class="page-container">
        {% include "_partials/header.html" with page='savings' %}
        <div class="main-area">
            <div class="page-header">
                <h1>Acount Details</h1>
            </div>
            {% if records %}
            <div class="page-section">
                <div class="header"><h2>All Records</h2><div><button class='open-modal button' data-modal="savingAccountsRecord">Add</button>
                <button class='open-modal button' data-modal="uploadCSV">Bulk Upload</button></div></div>
                {% if records %}
                    <table class="standard">
                        <thead>
                            <th>Action Name</th>
                            <th>Transaction Date</th>
                            <th>Created</th>
                            <th class="right">Amount</th>
                            <th class="right">Action</th>
                        </thead>
                        <tbody>
                        {% for action in records.transactions %}
                            <tr id="record_{{ action.id }}">
                                <td class="name" data-value="{{ action.name }}">{{ action.name }}</td>
                                <td class="date" data-value="{{ action.date|date:"Y-m-d" }}">{{ action.date|date:"jS M Y" }}</td>
                                <td class="created-date">{{ action.created_at|date:"jS M Y" }}</td>
                                <td class="right amount" data-value="{{ action.amount }}">£{{ action.amount|floatformat:2|intcomma }}</td>
                                <td class="right">
                                    <button class="button edit update-transaction" data-value="{{ action.id }}"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="button delete delete-transaction" data-value="{{ action.id }}"><i class="fa-solid fa-trash"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination">
                    {% for i in records.number_of_pages %}
                        {% if forloop.counter != records.current_page %}
                            <a href="{% url 'savings' %}{{ account_details.id }}?pn={{forloop.counter}}">{{ forloop.counter }}</a>
                        {% else %}
                            <a href="#" class="selected">{{ forloop.counter }}</a>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% else %}
                    <p>There are no transactions in the database</p>
                {% endif %}
            </div>
            {% else %}
            <div class="page-section centre">
                <div class="no-data">
                    <div class="image">
                        <i class="fa-solid fa-binoculars"></i>
                    </div>
                    <h4>Sorry</h4>
                    <p>No account with the id {{ id }} exists. Please click on the link below to view all accounts</p>
                    <a href="{% url 'savings' %}" class='button primary'>View all accounts</a>

                </div>
            </div>
            {% endif %}

        </div>
    </div>


    <div class="modal" id="recordUpdate" >
        <form action="" method="post" class="modal-container">
            <div class="header">
                <h2>Update Transaction</h2>
                <div class="close" data-close="recordUpdate"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <div class="body">
                {% csrf_token %}
                {{ transaction_form }}
                <input type="hidden" name="id" id="id">
            </div>
            <div class="footer">
                <input class='button primary' type="submit" name="updateTransaction">
                <button class="button hollow" data-close="recordUpdate">Cancel</button>
            </div>
        </form>
    </div>
    <div class="modal" id="savingAccountsRecord">
        <form action="" method="post" class="modal-container">
            <div class="header">
                <h2>Add Transaction</h2>
                <div class="close" data-close="savingAccountsRecord"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <div class="body">
                {% csrf_token %}
                {{ transaction_form }}
                <input type="hidden" name="addTransaction">
            </div>
            <div class="footer">
                <input class="button primary" type="submit">
                <button class="button hollow" data-close="savingAccountsRecord">Cancel</button>
            </div>
        </form>
    </div>
    <div class="modal" id="savingAccount">
        <form action="" method="post" class="modal-container">
            <div class="header">
                <h2>Create Savings Accounts</h2>
                <div class="close" data-close="savingAccount"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <div class="body">
                {% csrf_token %}
                {{ savings_form }}
            </div>
            <div class="footer">
                <input class="button primary" type="submit" name="addAccount">
                <button class="button hollow" data-close="savingAccount">Cancel</button>
            </div>
        </form>
    </div>
    <div class="modal" id="updateAccount">
        <div class="modal-container"">
            <div class="header">
                <h2>Savings Accounts Details</h2>
                <div class="close" data-close="updateAccount"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <div class="body">
                <form action="" method="post" id="updateForm">
                    {% csrf_token %}
                    {{ savings_form }}
                    <input type="hidden" name="accountId" id="accountId">
                    <input type="hidden" name="updateAccount">
                </form>
                <form action="" method="post" id="deleteForm">
                    {% csrf_token %}
                    <i class="fa-solid fa-warning"></i>
                    <div class="message">
                        <h3>Are you sure?</h3>
                        <p>By deleting this account you're also deleting all transactions that are connected to it. Do you wish to continue?</p>
                    </div>
                    <div class="action">
                        <button class="button primary resetView">Cancel</button>
                        <input type="submit" class="button negative" value="Delete Account">
                    </div>
                    <input type="hidden" name="deleteAccount" value="">
                </form>
                <div class="details">
                    <div class="account-header">
                        <div id="accountNameLabel" class="info"></div>
                        <span class="label">Created </span><span id="accountCreatedLabel"></span>
                    </div>
                    <div class="information">
                        <div class="label">ID</div>
                        <div id="accountIdLabel" class="info"></div>

                        <div class="label">Current Value</div>
                        <div id="accountValueLabel" class="info"></div>

                        <div class="label">Start Amount</div>
                        <div id="accountStartLabel" class="info"></div>

                        <div class="label">Start Date</div>
                        <div id="accountStartDateLabel" class="info"></div>

                        <div class="label">Type</div>
                        <div id="accountTypeNameLabel"></div> 
                        
                        <div class="label">Accumulate?</div>
                        <div id="accountAccumulateLabel" class="info"></div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="details">
                    <div>
                        <button class="button positive openUpdateView">Update Details</button>
                        <button class="button negative" id="deleteAccount">Delete Account</button>
                    </div>
                    <button class="button primary" data-close="updateAccount">Close</button>
                </div>
                <div class="editing">
                    <button class='button primary' id="confirmUpdate">Confirm</button>
                    <button class="button hollow resetView">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="uploadCSV">
        <form action="" method="post" class="modal-container" enctype="multipart/form-data">
            <div class="header">
                <h2>CSV Upload</h2>
                <div class="close" data-close="uploadCSV"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <div class="body">
                {% csrf_token %}
                {{ csv_form }}
            </div>
            <div class="footer">
                <input class="button primary" type="submit">
                <button class="button hollow" data-close="uploadCSV">Cancel</button>
            </div>
        </form>
    </div>
    <form action="" method="post" id="deleteForm" >
        {% csrf_token %}
        <input type="hidden" name="deleteTransaction" id="deleteID" value="0">
    </form>
</body>
</html>