{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'styles.css' %}?{% now "U" %}">
    <script src="{% static 'script.js' %}?{% now "U" %}"></script>

    <link rel="stylesheet" href="{% static 'modal/styles.css' %}?{% now "U" %}">
    <script src="{% static 'modal/scripts.js' %}?{% now "U" %}"></script>

    <link rel="stylesheet" href="{% static 'investment/styles.css' %}?{% now "U" %}">


</head>
<body>
    {% include "_partials/header.html" %}
    {% include "_partials/errors.html" %}
    <div class="container">
        <div class="page-header">
            <div>
                <h1>Investments</h1>
                <button class='open-modal' data-modal="investmentForm">Create Investment Account</button>
            </div>   
            <button class='open-modal' data-modal="investmentRecordForm">Add Record</button>
        </div>
        <div>
            <div class="investment-containers">
                {% if investments %}
                    <div class="account-cards">
                        {% for investment in investments %}
                            <form class="investment-container card" action="" method="POST">
                                {% csrf_token %}
                                {{ investment.name }} 
                                <input type="submit" name="deleteInvestment" value="delete"><br>
                                <div class="id">ID: {{ investment.id }}</div>
                                <input type="hidden" name="investmentId" value="{{ investment.id }}">
                            </form>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>There are no investments in database</p>
                {% endif %}
            </div>
            <div class="investment-records">
                {% if investmentRecords %}
                    <table>
                        <thead>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Account</th>
                            <th>Created Date</th>
                            <th class="right-align">Value</th>
                            <th class="right-align">Action</th>
                        </thead>
                        <tbody>
                            {% for investmentRecord in investmentRecords %}
                                <tr id="record_{{ investmentRecord.id }}">
                                    <td class="description" data-value="{{ investmentRecord.description }}">
                                        {% if investmentRecord.description == None %}
                                            -
                                        {% else %}
                                            {{ investmentRecord.description }}
                                        {% endif %}
                                    </td>
                                    <td class='date' data-value="{{ investmentRecord.date }}">{{ investmentRecord.date|date:"jS M Y" }}</td>
                                    <td class='investment' data-value="{{ investmentRecord.investment.id }}">{{ investmentRecord.investment.name }}</td>
                                    <td>{{ investmentRecord.created_at|date:"jS M Y" }}</td>
                                    <td class="value right-align" data-value="{{ investmentRecord.value }}">£{{ investmentRecord.value }}</td>
                                    <td class="right-align">
                                        <button class="delete-transaction" data-value="{{ investmentRecord.id }}">Delete</button>
                                        <button class="update-transaction" data-value="{{ investmentRecord.id }}">Edit</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% elif investments %}
                    <p>There are no investment Records</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal" id="investmentForm">
        {% if investmentForm %}
            <form action="" method="post">
                <div class="form-header">Add Investment</div>
                {% csrf_token %}
                {{ investmentForm }}
                <input type="submit" name="addInvestment">
            </form>
        {% endif %}
    </div>
    <div class="modal" id="investmentRecordForm">
        {% if investmentRecordForm %}
            <form action="" method="post">
                <div class="form-header">Add Investment Record</div>
                {% csrf_token %}
                {{ investmentRecordForm }}
                <input type="submit" name="addInvestmentRecord">
            </form>
        {% endif %}
    </div>
    <form action="" method="post" id="deleteForm" >
        {% csrf_token %}
        <input type="hidden" name="deleteInvestmentRecord" id="deleteID" value="0">
    </form>
</body>
</html>