{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/7954240b12.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'styles.css' %}?{% now "U" %}">
    <script src="{% static 'script.js' %}?{% now "U" %}"></script>
    
    <link rel="stylesheet" href="{% static 'modal/styles.css' %}?{% now "U" %}">
    <script src="{% static 'modal/scripts.js' %}?{% now "U" %}"></script>

    <link rel="stylesheet" href="{% static 'savings/styles.css' %}?{% now "U" %}">
    <script src="{% static 'savings/scripts.js' %}?{% now "U" %}"></script>

</head>
<body class="full-page">
    <div class="page-container">
        {% include "_partials/header.html" with page='savings' %}
        <div class="main-area">
            <div class="page-header">
                <h1>Savings</h1>
                <button class='open-modal button primary' data-modal="savingAccount">Create Savings Account</button>
            </div>
            <div class="page-cards">
                <h2>Account</h2>
                <div class="cards-inline">
                    {% if accounts %}
                        {% for acc in accounts %}
                            <form action="" method="post" class="card savings" id="account_{{ acc.id }}">
                                {% csrf_token %}
                                <div class="info">
                                    <div class="name lead" data-value="{{ acc.name }}">
                                        {{ acc.name }}
                                        <div class="actions">
                                            <button class="button account-edit" data-value="{{ acc.id }}"><i class="fa-solid fa-pencil"></i></button>
                                            <button class="button account-delete" type="submit" name="deleteAccount" value="Delete"><i class="fa-solid fa-trash"></i></button>
                                        </div>
                                    </div>
                                    <div class="accid">ID: {{ acc.id }}</div>
                                    <div class="sub" title="Start Date">
                                        SD:
                                        {% if acc.firstDate != None %}
                                            {{ acc.firstDate|date:"jS M Y" }}
                                        {% else %}
                                            Not Set
                                        {% endif %}
                                    </div>
                                    {% if acc.firstDate != None %}
                                    <div class="sub" title="Start Amount">
                                        SA: £{{ acc.first|floatformat:2|intcomma }}
                                    </div>
                                    {% endif %}

                                </div>
                                <div class="actions">
                                    
                                </div>
                                <input type="hidden" name="accountId" value="{{acc.id}}">
                                <input type="hidden" name="accountType" value="{{acc.accountType.id}}">
                            </form>
                        {% endfor %}
                    {% else %}
                        <p>Need to create an account or two</p>
                    {% endif %}
                </div>
            </div>
            <div class="page-section">
                <div class="header"><h2>All Records</h2><div><button class='open-modal button' data-modal="savingAccountsRecord">Add</button>
                    <button class='open-modal button' data-modal="uploadCSV">Bulk Upload</button></div></div>
                {% if transactions %}
                    <table class="standard">
                        <thead>
                            <th>Account</th>
                            <th>Transaction Date</th>
                            <th>Action Name</th>
                            <th>Created</th>
                            <th class="right">Amount</th>
                            <th class="right">Action</th>
                        </thead>
                        <tbody>
                        {% for action in transactions %}
                            <tr id="record_{{ action.id }}">
                                <td class="accountId" data-value="{{ action.accountId.id }}">{{ action.accountId.name }}</td>
                                <td class="date" data-value="{{ action.date|date:"Y-m-d" }}">{{ action.date|date:"jS M Y" }}</td>
                                <td class="name" data-value="{{ action.name }}">{{ action.name }}</td>
                                <td class="created-date">{{ action.created_at|date:"jS M Y" }}</td>
                                <td class="right amount" data-value="{{ action.amount }}">£{{ action.amount|floatformat:2|intcomma }}</td>
                                <td class="right">
                                    <button class="button update-transaction" data-value="{{ action.id }}"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="button delete-transaction" data-value="{{ action.id }}"><i class="fa-solid fa-trash"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>There are no transactions in the database</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% include "_partials/errors.html" %}

    <div class="modal" id="recordUpdate" >
        <form action="" method="post">
            <div class="form-header">Update Transaction</div>
                {% csrf_token %}
                {{ form }}
                <input type="hidden" name="id" id="id">
            <input type="submit" name="updateTransaction">
        </form>
    </div>
    <div class="modal" id="savingAccountsRecord">
        <form action="" method="post" class="form">
            <div class="form-header">Add Transaction</div>
            {% csrf_token %}
            {{ form }}
            <input type="hidden" name="addTransaction">
            <input type="submit">
        </form>
    </div>
    <div class="modal" id="savingAccount">
        <form action="" method="post" class="form">
            <div class="form-header">Savings Accounts</div>
            {% csrf_token %}
            {{ savings }}
            <input type="submit" name="addAccount">
        </form>
    </div>
    <div class="modal" id="updateAccount">
        <form action="" method="post" class="form">
            <div class="form-header">Update Savings Accounts</div>
            {% csrf_token %}
            {{ savings }}
            <input type="hidden" name="accountId" id="accountId">
            <input type="submit" name="updateAccount">
        </form>
    </div>
    <div class="modal" id="uploadCSV">
        <form action="" method="post" class="form" enctype="multipart/form-data">
            <div class="form-header">CSV</div>
            {% csrf_token %}
            {{ csv }}
            <input type="submit">
        </form>
    </div>
    <form action="" method="post" id="deleteForm" >
        {% csrf_token %}
    <input type="hidden" name="deleteTransaction" id="deleteID" value="0">
    </form>
</body>
</html>