{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/7954240b12.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'styles.css' %}?{% now "U" %}">
    <script src="{% static 'script.js' %}?{% now "U" %}"></script>
    
    <link rel="stylesheet" href="{% static 'modal/styles.css' %}?{% now "U" %}">
    <script src="{% static 'modal/scripts.js' %}?{% now "U" %}"></script>

    <link rel="stylesheet" href="{% static 'savings/styles.css' %}?{% now "U" %}">
    <script src="{% static 'savings/scripts.js' %}?{% now "U" %}"></script>
    {{ accounts|json_script:"accounts" }}

</head>
<body class="full-page">
    {% include "_partials/errors.html" %}
    <div class="page-container">
        {% include "_partials/header.html" with page='savings' %}
        <div class="main-area">
            <div class="page-header">
                <h1>Savings</h1>
                <button class='open-modal button primary' data-modal="savingAccount">Create Savings Account</button>
            </div>
            {% if accounts %}
            <div class="cards">
                {% if account_highlights %}
                    {% for account in account_highlights.records %}
                        <div class="card">
                            <div class="title">{{account.name}}</div>
                            <div class="main">£{{account.total|floatformat:2|intcomma }}</div>
                            <button class="small-button hollow account-edit" data-id="{{account.id}}">See More</button>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="page-section">
                <div class="header"><h2>All Records</h2><div><button class='open-modal button' data-modal="savingAccountsRecord">Add</button>
                    <button class='open-modal button' data-modal="uploadCSV">Bulk Upload</button></div></div>
                {% if transactions %}
                    <table class="standard">
                        <thead>
                            <th>Account</th>
                            <th>Transaction Date</th>
                            <th>Action Name</th>
                            <th>Created</th>
                            <th class="right">Amount</th>
                            <th class="right">Action</th>
                        </thead>
                        <tbody>
                        {% for action in transactions %}
                            <tr id="record_{{ action.id }}">
                                <td class="accountId" data-value="{{ action.accountId.id }}">{{ action.accountId.name }}</td>
                                <td class="date" data-value="{{ action.date|date:"Y-m-d" }}">{{ action.date|date:"jS M Y" }}</td>
                                <td class="name" data-value="{{ action.name }}">{{ action.name }}</td>
                                <td class="created-date">{{ action.created_at|date:"jS M Y" }}</td>
                                <td class="right amount" data-value="{{ action.amount }}">£{{ action.amount|floatformat:2|intcomma }}</td>
                                <td class="right">
                                    <button class="button edit update-transaction" data-value="{{ action.id }}"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="button delete delete-transaction" data-value="{{ action.id }}"><i class="fa-solid fa-trash"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>There are no transactions in the database</p>
                {% endif %}
            </div>
            {% else %}
            <div class="page-section centre">
                <div class="no-data">
                    <div class="image">
                        <i class="fa-solid fa-binoculars"></i>
                    </div>
                    <h4>Sorry, can't find any accounts</h4>
                    <p>You have no accounts created. Get started by clicking the button below.</p>
                    <button class='open-modal button primary' data-modal="savingAccount">Create Savings Account</button>

                </div>
            </div>
            {% endif %}

        </div>
    </div>


    <div class="modal" id="recordUpdate" >
        <form action="" method="post" class="modal-container">
            <div class="header">
                <h2>Update Transaction</h2>
                <div class="close" data-close="recordUpdate"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <div class="body">
                {% csrf_token %}
                {{ form }}
                <input type="hidden" name="id" id="id">
            </div>
            <div class="footer">
                <input class='button primary' type="submit" name="updateTransaction">
                <button class="button hollow" data-close="recordUpdate">Cancel</button>
            </div>
        </form>
    </div>
    <div class="modal" id="savingAccountsRecord">
        <form action="" method="post" class="modal-container">
            <div class="header">
                <h2>Add Transaction</h2>
                <div class="close" data-close="savingAccountsRecord"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <div class="body">
                {% csrf_token %}
                {{ form }}
                <input type="hidden" name="addTransaction">
            </div>
            <div class="footer">
                <input class="button primary" type="submit">
                <button class="button hollow" data-close="savingAccountsRecord">Cancel</button>
            </div>
        </form>
    </div>
    <div class="modal" id="savingAccount">
        <form action="" method="post" class="modal-container">
            <div class="header">
                <h2>Create Savings Accounts</h2>
                <div class="close" data-close="savingAccount"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <div class="body">
                {% csrf_token %}
                {{ savings }}
            </div>
            <div class="footer">
                <input class="button primary" type="submit" name="addAccount">
                <button class="button hollow" data-close="savingAccount">Cancel</button>
            </div>
        </form>
    </div>
    <div class="modal" id="updateAccount">
        <form action="" method="post" class="modal-container"">
            <div class="header">
                <h2>Savings Accounts Details</h2>
                <div class="close" data-close="updateAccount"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <div class="body">
                {% csrf_token %}
                <div class="form">
                    {{ savings }}
                </div>
                <div class="details">
                    <div class="detail">
                        <div class="label">Account Name:</div>
                        <div id="accountName" class="info"></div>
                    </div>
                    <div class="detail">
                        <div class="label">Account Id:</div>
                        <div id="accountId" class="info"></div>
                    </div>
                    <div class="details deep">
                        <div class="detail">
                            <div class="label">Account Type:</div>
                            <div id="accountTypeName" class="info"></div>
                        </div>
                        <div class="detail">
                            <div class="label">Account Type ID:</div>
                            <div id="accountTypeId" class="info"></div>
                        </div>
                        <div class="detail">
                            <div class="label">Accumulate:</div>
                            <div id="accountAccumulate" class="info"></div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="accountId" id="accountId">
            </div>
            <div class="footer">
                <div class="details">
                    <button class="button negative" id="deleteAccount">Delete</button>
                    <div>
                        <button class="button hollow" data-close="updateAccount">Close</button>
                        <button class="button primary" id="updateAccountButton">Update</button>
                    </div>
                </div>
                <div class="editing">
                    <input class='button primary'type="submit" name="updateAccount">
                    <button class="button hollow" data-close="updateAccount">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal" id="uploadCSV">
        <form action="" method="post" class="modal-container" enctype="multipart/form-data">
            <div class="header">
                <h2>CSV Upload</h2>
                <div class="close" data-close="uploadCSV"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <div class="body">
                {% csrf_token %}
                {{ csv }}
            </div>
            <div class="footer">
                <input class="button primary" type="submit">
                <button class="button hollow" data-close="uploadCSV">Cancel</button>
            </div>
        </form>
    </div>
    <form action="" method="post" id="deleteForm" >
        {% csrf_token %}
    <input type="hidden" name="deleteTransaction" id="deleteID" value="0">
    </form>
</body>
</html>