#transactionTemplate {
    display: none;
}
#transactionWidget {
    .mini-cards {
        display: none;
        padding: 0px 16px 12px;
        
        &.show {
            display: flex;
        }
    }
}
.grouped {
    display: flex;
    gap: 20px;
    width: 100%;

    & > div {
        width: 50%;
    }
}
.widget-header {
    display: flex;
    gap: 12px;
    align-items: center;
}