{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/7954240b12.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'styles.css' %}?{% now "U" %}">
    <script src="{% static 'script.js' %}?{% now "U" %}"></script>
    
    <link rel="stylesheet" href="{% static 'modal/styles.css' %}?{% now "U" %}">
    <script src="{% static 'modal/scripts.js' %}?{% now "U" %}"></script>

    <link rel="stylesheet" href="{% static 'templates/accounts/styles.css' %}?{% now "U" %}">
    <script src="{% static 'templates/accounts/account.js' %}?{% now "U" %}"></script>
    <script src="{% static 'templates/accounts/scripts.js' %}?{% now "U" %}"></script>

    <link rel="stylesheet" href="{% static 'templates/accounts/styles_account.css' %}?{% now "U" %}">

</head>
<body class="full-page">
    {% include "errors.html" %}
    <div class="page-container">
        {% include "navigation.html" with page='accounts' %}
        <div class="main-area">
            <div class="page-header">
                <h1>Acount Details</h1>
                <a href="{% url 'accounts' %}" class="button primary">View All Acounts</a>
            </div>
            {% if records %}
            <div class="page-section">
                <div class="info">
                    <div class="account-details">
                        <h2>Information</h2>
                        <div class="cards">
                            <div class="card">
                                <div class="title">{{ account_details.name }}</div>
                                <div class="main">£{{ account_total|floatformat:2|intcomma }}</div>
                            </div>
                        </div>
                        <div class="info-list">
                            <h3>Details</h3>
                            <div class="title">ID</div> <div>{{ account_details.id }}</div>
                            <div class="title">Created</div> <div>{{ account_details.created_at|date:"jS M Y" }}</div>
                            {% if start_details.date != None %}
                            <div class="title">Start Date</div> <div>{{ start_details.date|date:"jS M Y" }}</div>
                            <div class="title">Start Amount</div> <div>£{{ start_details.amount|floatformat:2|intcomma }}</div>
                            {% endif %}
                            <h3>Type</h3>
                            {% if account_details.accountType != None %}
                            <div class="title">Name</div> <div>{{ account_details.accountType }}</div>
                            <div class="title">Accumulate?</div> <div>
                                {% if account_details.accountType.accumulate %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </div>
                            {% else %}
                            <div>Name</div> <i>Not Set</i>
                            {% endif %}
                            <div class="actions">
                                <button class="button positive open-modal" data-modal="updateAccount">Update</button>
                                <button class="button negative open-modal" data-modal="deleteAccount">Delete</button>
                            </div>
                    </div>
                </div>
                </div>
                <div class="transactions">
                    <div class="header">
                        {% if search_param %}
                            <h2>Transactions named '<i>{{ search_param }}</i>'</h2>
                        {% else %}
                            <h2>Transactions</h2>
                        {% endif %}
                        <form action="" method="get" class="search-form">
                        {% if search_param != None %}
                                <input type="text" name="q" placeholder="Search" value="{{ search_param }}">
                            {% else %}
                                <input type="text" name="q" placeholder="Search">
                            {% endif %}
                            <div class="actions">
                                <button type="button" id="resetSearchForm" class="small-button" >Reset</button>
                                <input type="submit" value="Search" class="small-button primary">
                            </div>
                        </form>
                        <div>
                            <button class='open-modal-add-transaction button' data-modal="addTransaction" data-account="{{ account_details.id }}">Add</button>
                            <button class='open-modal button' data-modal="uploadCSV">Bulk Upload</button>
                        </div>
                    </div>
                    {% if records.transactions %}
                        <table class="standard">
                            <thead>
                                <th>Action Name</th>
                                <th>Transaction Date</th>
                                <th>Created</th>
                                <th class="right">Amount</th>
                                <th class="right">Action</th>
                            </thead>
                            <tbody>
                            {% for action in records.transactions %}
                                <tr id="record_{{ action.id }}">
                                    <td class="name" data-value="{{ action.name }}"><a href="{% url 'accounts' %}{{ account_details.id }}?q={{ action.name }}">{{ action.name }}</a></td>
                                    <td class="date" data-value="{{ action.date|date:"Y-m-d" }}">{{ action.date|date:"jS M Y" }}</td>
                                    <td class="created-date">{{ action.created_at|date:"jS M Y" }}</td>
                                    <td class="right amount" data-value="{{ action.amount }}">£{{ action.amount|floatformat:2|intcomma }}</td>
                                    <td class="right">
                                        <button class="button edit update-transaction" data-value="{{ action.id }}" data-id="{{ account_details.id }}"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="button delete delete-transaction" data-value="{{ action.id }}"><i class="fa-solid fa-trash"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="pagination">
                            {% for i in records.number_of_pages %}
                                {% if search_param %}
                                    <a href="{% url 'accounts' %}{{ account_details.id }}?pn={{forloop.counter}}&q={{search_param}}" 
                                        {% if forloop.counter == records.current_page %}
                                            class="selected"
                                        {% endif %}
                                    >{{ forloop.counter }}</a>
                                {% else %}
                                    <a href="{% url 'accounts' %}{{ account_details.id }}?pn={{forloop.counter}}" 
                                        {% if forloop.counter == records.current_page %}
                                            class="selected"
                                        {% endif %}
                                    >{{ forloop.counter }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="body centre">
                            <div class="no-data">
                                <div class="image">
                                    <i class="fa-solid fa-binoculars"></i>
                                </div>
                                <h4>Sorry, can't seem to find any transactions</h4>
                                <p>To Get started by clicking the button below:</p>
                                <button class='open-modal-add-transaction button primary' data-modal="addTransaction" data-account="{{ account_details.id }}">Create Transaction</button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <div class="page-section centre">
                <div class="no-data">
                    <div class="image">
                        <i class="fa-solid fa-binoculars"></i>
                    </div>
                    <h4>Sorry</h4>
                    <p>No account with the id {{ id }} exists. Please click on the link below to view all accounts</p>
                    <a href="{% url 'accounts' %}" class='button primary'>View all accounts</a>
                </div>
            </div>
            {% endif %}

        </div>
    </div>

    <div class="modal" id="updateTransaction" >
        <form action="" method="post" class="modal-container">
            <div class="header">
                <h2>Update Transaction</h2>
                <div class="close" data-close="updateTransaction"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <div class="body">
                {% csrf_token %}
                {{ transaction_form }}
                <input type="hidden" name="id" id="id">
            </div>
            <div class="footer">
                <input class='button primary' type="submit" name="updateTransaction">
                <button class="button hollow" data-close="updateTransaction">Cancel</button>
            </div>
        </form>
    </div>

    <div class="modal" id="addTransaction">
        <form action="" method="post" class="modal-container">
            <div class="header">
                <h2>Add Transaction</h2>
                <div class="close" data-close="addTransaction"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <div class="body">
                {% csrf_token %}
                {{ transaction_form }}
                <input type="hidden" name="addTransaction">
            </div>
            <div class="footer">
                <input class="button primary" type="submit">
                <button class="button hollow" data-close="addTransaction">Cancel</button>
            </div>
        </form>
    </div>
    <div class="modal" id="uploadCSV">
        <form action="" method="post" class="modal-container" enctype="multipart/form-data">
            <div class="header">
                <h2>CSV Upload</h2>
                <div class="close" data-close="uploadCSV"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <div class="body">
                {% csrf_token %}
                {{ csv_form }}
            </div>
            <div class="footer">
                <input class="button primary" type="submit">
                <button class="button hollow" data-close="uploadCSV">Cancel</button>
            </div>
        </form>
    </div>
    <form action="" method="post" id="deleteForm" >
        {% csrf_token %}
        <input type="hidden" name="deleteTransaction" id="deleteID" value="0">
    </form>

    <div class="modal" id="updateAccount">
        <form action="" method="post" class="modal-container">
            <div class="header">
                <h2>Savings Accounts Details</h2>
                <div class="close" data-close="updateAccount"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <div class="body">
                {% csrf_token %}
                {{ savings_form }}
                <input type="hidden" name="accountId" id="accountId" value="{{ account_details.id }}">
                <input type="hidden" name="updateAccount">
            </div>
            <div class="footer">
                <button class='button primary' id="confirmUpdate">Confirm</button>
                <button class="button hollow">Cancel</button>
            </div>
        </form>
    </div>

    <div class="modal" id="deleteAccount">
        <form action="" method="post" class="modal-container">
            <div class="header">
                <h2>Delete Account</h2>
                <div class="close" data-close="updateAccount"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <div class="body delete-confirmation">
                <i class="fa-solid fa-warning"></i>
                <h3>Are you sure you want to delete this account?</h3>
                <p>By deleting this account you will also be deleting all the transactions related to it. Do you wish to continue?</p>
                {% csrf_token %}
                <input type="hidden" name="deleteAccount" value="{{ account_details.id }}">
            </div>
            <div class="footer">
                <input class="button negative" type="submit" value="Delete Account">
                <button class="button hollow" data-close="deleteAccount">Cancel</button>
            </div>
        </form>
    </div>
</body>
</html>