.header-label {
    .og-label {
        font-size: 0.8em;
        padding-bottom: 4px;
        display: block;
        opacity: 0.6;
    }
}

table thead {
    position: sticky;
  top: 0;
}
.verfied {
    background-color: green;
}
.error {
    background-color: red;
}