.header-label {
    .og-label {
        font-size: 0.8em;
        padding-bottom: 4px;
        display: block;
        opacity: 0.6;
    }
}

table thead {
    position: sticky;
  top: 0;
}
.verified {
    background-color: green;
}
.error {
    background-color: red;
}
.row.deselect {
    opacity: 0.5;

    .cell {
        &.verified, &.error {
            background-color: unset;
        }
    }
}
.cell {
    input {
        display: none;

        &:first-child {
            display: block;
        }
    }
    &.show-editor {
        input {
            display: block;
        }
        .display-value {
            display: none;
        }
    }
}