#errorsIndicator {
    font-size: 1.2em;
    font-weight: 500;
    color: green;

    &.problem {
        color: red;
    }
    &::before {
        content: 'Amount of Errors: ';
    }
}
#selectionIndicator {
    font-size: 1.2em;
    font-weight: 500;
    color: green;

    &.problem {
        color: red;
    }
    &::before {
        content: 'Selected Columns: ';
    }
    &::after {
        content: '/4';
    }
}

table thead {
    position: sticky;
    z-index: 3000;
    top: 0;

    .header-label .og-label {
        font-size: 0.8em;
        padding-bottom: 4px;
        display: block;
        opacity: 0.6;
    }
}

.row.deselect, .row.deselect.duplicate {
    opacity: 0.5;

    td.cell {
        background-color: unset;

        cursor: auto;
        &.verified, &.error {
            background-color: unset;

            &::before {
                display: none;
            }
        }
        .display-value {
            text-decoration: line-through;
        }
    }
}
.row.duplicate {
    td.cell {
        background-color: rgba(255, 127, 0, 0.27);
        &:first-child {
            display: flex;
            align-items: center;
            width: 30px;
            gap: 4px;
            
            &:after {
                font-family: 'Font Awesome Kit';
                color: orange;
                font: var(--fa-font-solid);
                content: '\f071';
            }
        }
        
        &.verified, &.error {
            background-color: rgba(255, 127, 0, 0.27);
        }
    }
}
table.standard {
    
    td.cell {
        position: relative;
        cursor: pointer;
        padding: 5px;

        &:first-child {
            width: 20px;
        }

        &.verified {
            background-color: rgba(0,128,0,0.15);
            &:before {
                font-family: 'Font Awesome Kit';
                color: green;
                font: var(--fa-font-solid);
                content: '\f058';
            }
        }
        &.error {
            background-color: rgba(255, 0, 0, 0.15);
            &:before {
                color: red;
                font-family: 'Font Awesome Kit';
                font: var(--fa-font-solid);
                content: '\f057';
            }
        }

        input {
            display: none;
            width: calc(100% - 10px);
            height: 100%;
            box-sizing: border-box;
            margin: 2px 5px;

            &:first-child {
                display: block;
                width: unset;
                height: unset;
                margin: 0;
            }
        }
        &.show-editor {
            &::before {
                display: none;
            }
            input {
                display: block;
            }
            .display-value {
                display: none;
            }
        }
    }
}
.full-page .page-section {
    overflow: hidden;
    height: 100vh;
    padding: 0;

    .body-container {
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 20px;

        .tools-container {
            padding: 12px 20px 20px 20px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.63)), url('/static/images/bunny-shape-purple.svg'), #fff;
            background-size: 350%;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;

            h4 {
                margin-bottom: 8px;
            }

            .tool:not(:first-child) {
                margin-top: 12px;
                padding-top: 12px;
                border-top: 1px solid rgba(128, 0, 128, 0.28);
            }
            input[type=text] {
                padding: 8px;
                box-sizing: border-box;
                font-size: 1em;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border-color: lightgray;
                border-radius: 4px;
                margin-bottom: 10px;
                border: 1px solid rgb(214, 214, 214);
                min-height: 35px;
            }

            select {
                padding: 8px;
                box-sizing: border-box;
                font-size: 1em;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border-color: lightgray;
                border-radius: 4px;
                margin-bottom: 10px;
            }
        }
        .imported-data {
            padding: 12px 12px 12px 0;
            .header {
                padding-right: 12px
            }
            .body {
                overflow: auto;
                height: calc(100vh - 220px);
            }
        }
        
    }
}
